body, .root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: 75px;
  color: white;
}

.score.right {
  left: 75%;
}

.net {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 5px dashed white;
  border-top: none;
  border-bottom: none;
}

.pad {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
}

.pad.user {
  left: 0;
}

.paddle {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddle.red {
  background-color: red;
}

.paddle.blue {
  background-color: blue;
}

button.start-game {
  padding: 10px 24px;
  border-radius: 10px;
}

h1.paddle-text {
  text-align: center;
  font-size: 60px;
  color: white;
}