@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
  position: relative;
}

body {
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.net {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 5px dashed white;
  border-top: none;
  border-bottom: none;
}

.pad {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
}

.pad.user {
  left: 0;
}

img.paddle {
  position: absolute;
  height: 120px;
  visibility: hidden;
  z-index: 4;
  width: 100px;
}

img.paddle.user {
  transform: translateX(-40%);
}

img.paddle.com {
  transform: translateX(-60%);
}

.paddle-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddle-page.red {
  background-color: red;
}

.paddle-page.blue {
  background-color: blue;
}

button.start-game {
  padding: 10px 24px;
  border-radius: 10px;
}

h1.paddle-text {
  text-align: center;
  font-size: 60px;
  color: white;
}

.score {
  text-align: center;
  font-size: 150px;
  color: white;
  margin: 0;
}

.player-info {
  position: absolute;
  left: 0;
  top: 10%;
  bottom: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-info.right {
  left: 50%;
}

.qr-text {
  color: white;
  font-size: 50px;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
